/* global styles */
* {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-family: nunito-sans;
}

/* header styles */
header {
    background: url(https://cdn.lawconnect.com/img/hero_bg.ce171e65..svg) #0e5fe3;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    height: 40px;
    max-width: 1158px;
    min-width: 780px;
    color: white;
}

.logo {
    width: 218px;
}

ul {
    display: inline;
}

li {
    display: inline-block;
    margin: 0 10px;
}

/* hero section styles */
.hero-section {
    display: flex;
    max-width: 1158px;
    min-width: 1000px;
}

.hero-content {
    max-width: 400px;
    max-height: 350px;
    color: white;
    display: grid;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.hero-content > h1,
.hero-content > p,
.hero-content > button {
    margin-left: 0;
}

.hero-content > h1 {
    font-size: 48px;
}

.hero-content > p {
    font-size: 16px;
    font-weight: 100;
}

button {
    background-color: #2ab7fd;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #0a49af;

}

.screenshot {
    max-width: 500px;
    min-width: 200px;
    height: 350px;
}

.headshot {
    position: absolute;
    max-width: 105px;
    min-width: 105px;
    height: 105px;
    border:2px solid #fff;
    border-radius: 190px;
    object-fit: cover;
    box-shadow: 0px 5px 15px #00000040;
}

/* article section */

.article-headline {
    display: flex;
    margin: 50px 0;
    min-width: 875px;
}

.article-headline > h2 {
    font-size: 36px;
    color: #0a49af;
    font-weight: 200;
}

.featured-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1158px;
    min-width: 910px;
}

.featured-card-img {
    width: 286px;
    max-height: 160px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card {
    width: 286px;
    height: 320px;
    box-shadow: 0px 5px 15px #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
}

.card:hover {
    width: 286px;
    height: 320px;
    box-shadow: 0px 5px 50px #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
}

.card h3 {
    font-size: 16px;
    font-weight: 600;
    color: #0e5fe3;
    padding: 15px;
}

.card p {
    color: #191919cc;
    font-size: 16px;
    font-weight: 200;
    padding: 0 15px 15px 15px;
}

.section-two {
    background-color: #F6F7F8;
    padding: 50px;
}

.section-two-cards {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    max-width: 1158px;
    min-width: 910px;
}

.section-two-cards h2 {
    margin-bottom: 20px;
    color: #0a49af;
    font-weight: 400;
    font-size: 36px;
}

.section-two-cards p {
    width: 445px;
    color: #191919CC;
    font-size: 16px;
}

.phone-img {
    width: 367px;
    height: 367px;
    border: 20px solid #fff;
    border-radius: 190px;
    object-fit: cover;

}